@font-face {
    font-family: "Teko";
    src: 
        url("font/Teko-Regular.ttf"), 
        url("font/Teko-Bold.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src:
        url("font/Ubuntu-Regular.ttf"),
        url("font/Ubuntu-Italic.ttf");
}

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    
    font-family: 'Teko', sans-serif;
    font-size: 1.15rem;
    font-weight: normal;

    /* insert default colors */
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.35rem;
}

button {
    width: 150px;
}

.content {
    height: 100vh;
    width: 100vw;
}

.left {
    height: 100%;
    width: 40%;
    color: #fff;

    position: absolute;
    left: 0;

    background: url(img/r34-gtr.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex; 
    justify-content: center;
}

.logo {
    padding: 15px;
    margin-top: 200px;
    height: fit-content;
    width: 100%;

    display: flex; 
    justify-content: center;

    background-color: #000;
    opacity: 90%;
}

.logo-icon {
    height: 50px;
    width: auto;
    margin-right: 20px;

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(34deg) brightness(106%) contrast(101%);
}

.caption {
    opacity: 90%;
    margin-bottom: 10px;
    width: 100%;

    position: absolute;
    bottom: 0;
    text-align: center;
}

.right {
    height: 100%;
    width: 60%;

    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    background: #7f9e9c;

    /* background: rgb(127,158,156);
    background: radial-gradient(circle, rgba(127,158,156,1) 0%, rgba(49,61,61,1) 51%, rgba(29,29,29,1) 97%); */
}

.right em {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.15rem;
    padding: 5px;   
}

.formality {
    padding: 35px;
    /* margin-bottom: 25px; */
}

.formality h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.15rem;
}

.form:focus-within {
    border-color: #1F191Aff;
}

.form {
    border: 1px solid transparent;
    box-shadow: 8px 6px 30px #000;

    border-radius: 10px;
    padding: 35px;
    padding-top: 0;

    background-color: #fff;
    padding: 35px;
    margin: 0 35px; 
}

form h2 {
    font-size: 1.65rem;
    font-weight: bold;
    margin-bottom: 15px;
}

form label,
form input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input {
    padding: 5px;
    width: 100%;

    border: 2px solid transparent;
    border-radius: 8px;
    background-color: rgba(127, 158, 156, 0.5);
}

input:focus {
    border-color: #277CE0;
    outline: none;
    box-shadow: 2px 3px 10px #000;
}

input[type=text]:valid,
input[type=email]:valid,
input[type=tel]:valid {
    background-color: #C3FDB8;
}

.error {
    background-color: red;
}

.submit {
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 8px;

    padding: 4px;
    width: 200px;
}

.submit a {
    text-decoration: underline;
}
